.header{
    display: flex;
    width : 100%;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(122, 122, 220 , 0.3);
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.hotels-container{
    display: grid;
    grid-template-columns: repeat(3 ,auto);
}



.checked {
    color: orange;
  }